@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --highlight: #bb17df;
    --opaque-hover: #D987EB;
    --highlight-text: #ffffff;
    --dark-text: #373737;
    --highlight-opaque: #ECECEC;
    --bg-color: #F8F8F8;
    --succesfull: #008A0E;
    --error: #D01919;
    --border-solid: solid 0.06rem rgba(0, 0, 0, 0.13);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
    color: var(--dark-text);
}

body{
    min-width: 100%;
    height: 100vh;
}

main{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);
    background-image: url('https://framerusercontent.com/images/uKKuWXjoleltDRAZZDoeDntwn0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 1.6rem 2rem;
    background-color: var(--bg-color);
    border: var(--border-solid);
}

#shapesIcon{
    width: 2rem;
    height: auto;
    margin-right: 1rem;
}

#main-title{
    width: fit-content;
    color: var(--dark-text);
    font-weight: 600;
    font-size: 1.2rem;
}

.btn{
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
    border: var(--border-solid);
    border-radius: 0.25rem;
    background-color: var(--bg-color);
    cursor: pointer;
    transition: 0.3s cubic-bezier(0, .37, .32, 1);
}

.btn:hover{
    transition: 0.3s cubic-bezier(0, .37, .32, 1);
    color: var(--highlight-text);
    scale: 1.1;
    background-color: var(--highlight);   
}

.btn:focus{
    outline: none;
    }

#buttons{
    width: 28rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#buttons:hover > :not(:hover){
    transition: 0.3s cubic-bezier(0, .37, .32, 1);
    background-color: var(--highlight-opaque);
    opacity: 0.7;
}

.figure-card{
    width: 28rem;
    height: fit-content;
    padding: 1.6rem ;
    background-color: var(--bg-color);
    border-radius: 0.36rem;
    border: var(--border-solid);
}

input{
    width: 8rem;
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    margin-right: 0.3em;
    border: var(--border-solid);
    transition: 0.3s cubic-bezier(0, .37, .32, 1);
}

label{
    margin-right: 0.6rem;
}

input:focus{
    outline: none;
}

.title{
    font-weight: 600;
    margin-bottom: 2rem;
}

input:focus{
    transition: 0.3s cubic-bezier(0, .37, .32, 1);
    scale: 1.03;
    box-shadow: 0px 0px 0.6rem 0px rgba(234, 92, 250, 0.3);
}

.calc-container{
    margin-top: 1rem;

}

.answer{
    color: var(--highlight);
}

#calcCircle{
    margin-top: 1.6rem;
}

.blanks{
    font-family: 'Outfit' , Arial, Helvetica, sans-serif;
    margin-left: 0.4rem;
}

#filler{
    margin-bottom: 0.6rem;
}

#btnCalcRec{
    margin-top: 0.6rem;
}

.idk{
    margin-top: 0.4rem;
}

#btnCalcTrian{
    margin-top: 0.4rem;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}